django>=5.2,<5.3
gunicorn>=23,<24
dj-database-url>=3,<4
whitenoise>=6,<7
requests
git+https://github.com/justingeeslin/Real-Time-Object-Measurement.git
# Uncomment to use a Postgres database.
#psycopg[binary]
asgiref==3.11.1
certifi==2026.2.25
charset-normalizer==3.4.4
idna==3.11
numpy==2.2.6
#opencv-python==4.13.0.92
opencv-python-headless==4.13.0.92
packaging==26.0
sqlparse==0.5.5
typing_extensions==4.15.0
urllib3==2.6.3
django-cors-headers==4.9.0
